{% extends 'base.html' %} 
{% load static %} 
{% block content %} 
    <h3>{{post.title}}</h3>
        작성자 : {{post.writer}} 
        날짜 : {{post.pub_date}} 
        <p>
            {% for tag in post.tags.all %}
                <a href="{% url 'main:tag-posts' tag.id %}">#{{ tag.name }}</a>
            {% endfor %}
        </p>
        <hr/>
        {% if post.image %}
        <p><img src="{{ post.image.url }}" alt="사진" width="100px"></p>
        {% endif %}
        <p>{{post.content}}</p>
        {% if post.writer == user %}
        <a href="{% url 'main:edit' post.id %}">수정</a>
        <a href="{% url 'main:delete' post.id %}">삭제</a>
        {% endif %}
    <br>
    <div class="comment_container">
        <div class="comment_form">
            <h2></h2>
            <form action="{% url 'main:detail' post.id %}" method="POST">
                {% csrf_token %}
                댓글 쓰기 : <input type="text" name="content">
                <input type="submit" name="submit">
            </form>
        </div>
        <div class="comment_list">
            {% for comment in comments %}
            <hr>
            <h4>작성자 : {{comment.writer}}</h4>
            <p>내용 : {{comment.content}}</p>
            <p>{{comment.pub_date}}</p>
            {% endfor %}
        </div>
    </div>



{% endblock %}
