{% extends 'base.html' %} 
{% load static %} 
{% block content %} 
<h2>수정중...</h2>
<form action="{% url 'main:update' post.id %}" method="POST" enctype="multipart/form-data">
{% csrf_token %} 
<p>제목: <input type="text" name="title" value="{{post.title}}"></p>
<p>작성자: <input type="text" name="writer" value="{{post.writer}}"></p>
<P>날씨 : <input type="text" name="weather" value="{{post.weather}}"></P>
{% if post.image %}
    <p><img src="{{ post.image.url }}" alt="사진" width="100px"></p>
{% endif %}
<p>사진: <input type="file" name="image"></p>
<p>오늘 하루: <textarea type="text" name="content" id="" cols="30" rows="10">{{post.content}}</textarea></p>
<button type="submit">제출</button>
</form>
{% endblock %}