{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/project.css' %}">
<div class="image">
    <img src="{% static 'images/image.jpg' %}" alt="image" class="centered-image">
</div>
<h1 class="contents">화이팅!</h1>
<div class="contents"></div>

<div>
    <div>
        {% if user.is_authenticated %}
        <a href="{% url 'main:new-post' %}">새 글 작성하기</a>
        {% endif %}
    </div>
    {% for post in posts %}
    <div>
        <hr/>
        <h3>{{post.title}}</h3>
        {{post.writer}} | {{post.pub_date}}<br>
        {{post.summary}}
        <a href="{% url 'main:detail' post.id %}">자세히 보기</a>
        <br>
    </div>
    {% endfor %}
</div>

{% endblock %}

